nav{
    background-color:saddlebrown;
}
button{
    margin: 10px;
    border:none;
    padding:1rem;
    border-radius: 10px;
    cursor:pointer;
    background-color: blue;
    color:white;
}

table{
    background:rgb(228, 200, 255);
    width:100%;
}
a{
    font-style: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    margin-left:2rem;
}